@tailwind base;
@tailwind components;
@tailwind utilities;

.UserHomePage {
  min-height: calc(100vh - 5rem);
}

@layer {
  .App {
    @apply space-x-[-0.035em] font-NotoFont !important;
  }
  .FormHolder {
    @apply w-[100vw] h-[100vh] overflow-x-hidden flex flex-col items-center justify-center;
  }
  .FormDetails {
    @apply w-full sm:w-[75%] md:w-[40%] h-fit px-[18.52px] py-[14px] sm:px-[30px] sm:py-[20px] sm:border border-solid
    border-borderColor rounded-3xl !important;
  }
  .TitleRegistraion {
    @apply font-semibold text-[18px] text-mainTitleColor !important;
  }
  .Description {
    @apply font-normal text-base text-mainTitleColor !important;
  }
  .Form {
    @apply w-full flex flex-col gap-y-[14.5px] text-inputColor
     !important;
  }
  .InputFormHolder {
    @apply flex items-center gap-x-[13px] border border-solid border-borderColor
    rounded-lg px-4 py-[13px] !important;
  }
  input,
  textarea {
    @apply w-full outline-none border-none resize-none !important;
  }
  .SubmitBtn {
    @apply w-full bg-submitBtnBg text-white text-base font-semibold
    py-[7px] rounded-lg duration-300 ease-in-out
    hover:bg-hoverSubmitBtnsBg focus:bg-hoverSubmitBtnsBg !important;
  }
  .HolderAccount {
    @apply flex items-center justify-center !important;
  }
  .HolderUserAccount {
    @apply text-[14px] text-inputColor font-normal !important;
  }
  .Link {
    @apply hover:underline text-redirectingLinkBg !important;
  }
  .MessageError {
    @apply text-sm text-red-600 font-semibold capitalize !important;
  }

  /*Navigation Bar*/
  .NavigationBar {
    @apply sticky top-0 z-20 flex items-center justify-between w-full h-20 bg-white 
    px-14 py-5 border border-solid border-navBarBorderBg !important;
  }
  .UserLinks {
    @apply flex items-center gap-x-20  h-full;
  }
  .LinkHolder {
    @apply flex items-center justify-center;
  }
  .userLink {
    @apply duration-300 ease-in-out focus:text-submitBtnBg no-underline
    text-inputColor font-medium text-sm focus:font-semibold 
    hover:text-submitBtnBg w-full
    !important;
  }
  .userLinkHover {
    @apply absolute bottom-0 duration-300 ease-in-out w-0 h-[3px] bg-submitBtnBg
    group-focus-within:w-[7%] border border-solid border-submitBtnBg
    rounded-t-full;
  }
  .AccountDropDownHolder {
    @apply relative flex items-center gap-x-5 text-userDropDownNameHolderColor font-bold 
    text-[12px] cursor-pointer;
  }
  .UserInfoHolder {
    @apply flex items-center gap-x-3;
  }
  .userProfilePic,
  .UserFirstLetters {
    @apply rounded-lg h-8 w-8 !important;
  }
  .UserFirstLettersSize {
    @apply h-10 w-10 !important;
  }
  .UserFirstLetters {
    @apply flex items-center justify-center uppercase bg-userHolder
    text-white text-[12px] font-medium !important;
  }
  .DropDownIcon {
    @apply flex items-center justify-center h-8 w-8;
  }

  /* user dorpDonw */
  .UserDrop {
    @apply relative;
  }
  .UserDropdown {
    @apply px-[.75rem] py-[.75rem] bg-white border border-solid border-DropDownBorderColor
    absolute top-10 left-0 shadow-UserDropDown rounded-xl w-[12rem] font-medium text-[.75rem] 
    flex flex-col gap-y-2 !important;
  }
  .OptionList {
    @apply flex flex-col items-start p-0 !important;
  }
  .option {
    @apply cursor-pointer flex items-center gap-x-[0.75rem] py-[0.75rem] text-optionColor 
    px-[13px] rounded-lg duration-300 ease-in-out
    hover:bg-navBarBorderBg w-full !important;
  }
  .line {
    @apply w-full border border-solid border-DropDownBorderColor rounded-full
    !important;
  }
  .LogOutBtn {
    @apply w-full flex items-center gap-x-[0.75rem] py-[0.75rem] 
    text-logOutWarning px-[13px] rounded-lg duration-300 ease-in-out
    hover:bg-logOutWarning hover:text-white !important;
  }

  /*UserPage Section*/
  .UserHomePage {
    @apply w-full flex justify-center bg-DropDownBorderColor
    relative !important;
  }
  .UserHomePageDetails {
    @apply relative sm:w-[75%] flex gap-x-[25px] py-[1.5rem];
  }
  .ExploreTweetsDetails {
    @apply flex-row-reverse !important;
  }

  /*User Post Section*/
  .UserPostes {
    @apply basis-[70%] relative !important;
  }

  /* User Tweet */
  .UserPost {
    @apply bg-white rounded-xl shadow-UserDropDown px-[1.25rem]
    py-[.68rem] flex flex-col gap-y-2 !important;
  }
  .TweetTilte {
    @apply text-[12px] font-semibold text-optionColor !important;
  }
  .UserInfoDetails {
    @apply flex gap-x-3 w-full !important;
  }
  .TweetSection {
    @apply w-full flex flex-col gap-y-2 !important;
  }
  .PostInfoHolder {
    @apply w-full flex items-center gap-x-3 !important;
  }
  .TweetSettings {
    @apply flex items-center w-full justify-between !important;
  }
  .UploadedImageInput {
    @apply hidden;
  }
  .AdditionalDetails,
  .TweetShare {
    @apply flex items-center gap-x-3 text-[12px] !important;
  }
  .UserTweetInput {
    @apply h-24 text-mainTitleColor !important;
  }
  .ImageUploaed {
    @apply h-24 w-auto rounded-lg !important;
  }
  .TweetShare,
  .AddStyle {
    @apply text-submitBtnBg cursor-pointer !important;
  }
  .TweetBtn {
    @apply py-2 px-6 bg-submitBtnBg text-white text-[12px]
    font-medium rounded !important;
  }

  /* User post visibility */
  .TweetVisibilityHolder {
    @apply relative w-[30vw] !important;
  }
  .TweetVisibilityDropDown {
    @apply absolute top-12 px-3 py-[9px] shadow-UserDropDown bg-white border-none 
    rounded-lg flex flex-col gap-y-3 !important;
  }
  .VisibilityOptions {
    @apply flex flex-col text-userDropDownNameHolderColor text-[12px] 
    font-medium !important;
  }
  .Option {
    @apply flex items-center gap-x-[9.5px] py-[11px] px-[13px] rounded-lg
    duration-300 ease-in-out hover:bg-DropDownBorderColor cursor-pointer !important;
  }

  /*Tweet Post */
  .UserFiendsPost {
    @apply max-w-full flex items-center flex-col gap-y-6 !important;
  }
  .TweetHolder {
    @apply w-full h-fit p-5 bg-white
    shadow-UserDropDown rounded-lg !important;
  }
  .InfoTweetHolder {
    @apply w-full flex flex-col gap-y-2 !important;
  }
  .InfoHolder {
    @apply flex  flex-col gap-y-1 !important;
  }
  .UserInfoName {
    @apply text-base font-medium;
  }
  .CreationDate {
    @apply text-[12px] font-medium text-userHolder;
  }
  .DetailsInfo {
    @apply text-base font-normal text-optionColor;
  }
  .ImagePostHodler {
    @apply h-[275px] w-full flex justify-center;
  }
  .TweetImage {
    @apply h-full w-auto rounded-lg !important;
  }
  .TweetInfoDetails {
    @apply flex w-full justify-end !important;
  }
  .TweetInfoSettingsHolder {
    @apply flex items-center justify-between w-[30%] !important;
  }
  .DetailsOption {
    @apply text-[12px] font-medium text-userHolder cursor-pointer !important;
  }
  .BtnSettingsInfo {
    @apply flex items-center w-full justify-between !important;
  }
  .OptionDetails {
    @apply duration-300 ease-in-out cursor-pointer
    w-full h-11 flex items-center justify-center
    hover:bg-navBarBorderBg rounded-lg text-sm 
    font-medium !important;
  }
  .OptionDetailsHolder {
    @apply w-full flex items-center justify-center gap-x-2 !important;
  }
  .UserCommentHolder {
    @apply w-full flex items-start gap-x-4;
  }
  .CommentForm {
    @apply w-full flex items-center border border-solid border-navBarBorderBg
    bg-CommentFormBg px-3 py-[10.5px] bg-transparent rounded-lg !important;
  }
  .CommentInput {
    @apply w-full;
  }
  .UploadeCommentImage {
    @apply h-10 w-auto rounded-lg !important;
  }

  /*User Recomendation*/
  .UserRecomendations {
    @apply basis-[30%] relative !important;
  }
  .UserRecomendationHolder {
    @apply fixed w-[25%];
  }
  /*UserTrends*/
  .Trends {
    @apply w-full px-5 py-[10.91px] bg-white rounded-lg shadow-navBarBorderBg;
  }
  .TrendsText {
    @apply text-[12px] font-semibold text-optionColor mb-2 !important;
  }
  .ListOfTrends {
    @apply flex flex-col items-start gap-y-6;
  }
  .TrendLink {
    @apply text-base font-semibold text-userDropDownNameHolderColor !important;
  }
  .TrendNumber {
    @apply text-[12px] font-medium text-inputColor;
  }

  /*Follow Users Component*/
  .ListUsersToFollow {
    @apply mt-2 !important;
  }
  .UserToFollow {
    @apply w-full flex items-center justify-between !important;
  }
  .addFollowBtn {
    @apply flex items-center gap-x-1 rounded bg-submitBtnBg text-white 
    duration-300 ease-in-out hover:opacity-90 text-[12px] py-1 px-2 !important;
  }

  /*searchForm*/
  .SearchForm {
    @apply flex items-center gap-x-3 bg-white rounded-lg shadow-userHolder
    py-[11px] px-3;
  }
  .SearchBtn {
    @apply py-2 px-6 !important;
  }

  /*user Explore Chocie Holder*/
  .ChoicesOptionHolder {
    @apply flex flex-col gap-y-4 w-[90%] bg-white rounded-lg shadow-userHolder px-5 py-6 !important;
  }
  .OptionHolder {
    @apply flex w-full font-semibold focus-within:text-submitBtnBg items-center cursor-pointer text-inputColor 
    duration-300 ease-in-out hover:text-submitBtnBg !important;
  }
  .userChoiceLoaderLine {
    @apply absolute left-0 h-0 duration-300 ease-in-out group-hover:h-[30px] w-[3px]
    group-focus-within:h-[30px] bg-submitBtnBg border border-solid border-submitBtnBg rounded-tr-full rounded-br-full;
  }
}
